# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/
pip-log.txt
pip-delete-this-directory.txt

# Jupyter
.ipynb_checkpoints

# Data
data/
data/*

# Models
src/models/
reports/

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
